body{
    margin:0;
    padding:0; 
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background: url("/images/waste-background2.jpeg") no-repeat center center fixed;
    background-size: cover;
   min-height:100vh;
}
.body-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    margin-top:100px;
}
.container {
    background:transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    text-align: center;
    border: 1px solid #ccc;
    backdrop-filter: blur(10px);
    margin-bottom: 200px;
}

.img-upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container {
    /* Add styles to the container div */
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container > div {
    /* Add styles to the direct children divs of the container */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container > div > div {
    /* Add styles to the grandchildren divs of the container */
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 3px;
  }

































.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374d48;
    color: #fff;
    padding: 10px;
    flex-direction: row;
    height:50px;
    bottom: 0;
    position :fixed;
    width: 102%;
}
.social-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width:250px;
    cursor: pointer;
}

.social-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width:250px;
    cursor: pointer;
}
.social-icon a {
    color: #ffffff;
}

.social-icon a:hover i.fa-facebook {
    color: #1877f2;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-instagram {
    color: #e4405f;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-x-twitter {
    color: #000000;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-linkedin {
    color: #0077b5;
    transition: color 0.3s ease-in-out;
}