body{
    margin:0;
    padding:0; 
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    background: url("/images/Untitled design (3).png") no-repeat center center fixed;
    background-size: cover;
   min-height:100vh;
}



.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
 .container {
    max-width: 400px;
    margin: 0 auto;
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    text-align: center;
    border: 1px solid #ccc;
    backdrop-filter: blur(6px);
  }
  input[type="file"] {
    margin: 20px 0;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  button {
    background: #CFFFB0;
    color:black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background: #9ee370;
  }

.comment-container input{
    height: 50px;
    margin-top:20px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 10px;
}

.comment-container input::placeholder{
    color: #ccc;
    text-align:justify;
}

.comment-container button{
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid none;
    padding: 10px;
    background-color: #CFFFB0;
    color: black;
    cursor: pointer;
}
.body-container button:hover{
    background-color: #9ee370;
}   

#fileInput{
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid none;
    padding: 10px;
    background-color: rgba(207,255,176,0.6);
    color: black;
    cursor: pointer;
}
#status{
    margin-top: 20px;color: #000000;
}

























.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #374d48;
    color: #fff;
    padding: 10px;
    flex-direction: row;
    height:50px;
    bottom: 0;
    position :fixed;
    width: 102%;
}
.social-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width:250px;
    cursor: pointer;
}

.social-icon{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    width:250px;
    cursor: pointer;
}
.social-icon a {
    color: #ffffff;
}

.social-icon a:hover i.fa-facebook {
    color: #1877f2;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-instagram {
    color: #e4405f;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-x-twitter {
    color: #000000;
    transition: color 0.3s ease-in-out;
}

.social-icon a:hover i.fa-linkedin {
    color: #0077b5;
    transition: color 0.3s ease-in-out;
}