.header{
    background-image:linear-gradient(rgba(4,9,30,0.5),
    rgba(4,9,30,0.7)),url(/images/Cleaningpage.jpg);
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 500px;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
.container {
    position :relative;
    margin-bottom: 100px;
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    border-color: black;
    margin-top: -40px;
    margin-bottom: 280px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

form {
    flex: 1;
    margin-right: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    background-color: transparent;
    width: 97%;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 0 10px #ffffff;

}
button {
    background-color: #ffde3b; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-right: 10px;
}
button:hover {
    background-color: #e3c013; 
}

image-preview {
    flex: 1;
    text-align: center;
}
.image-preview {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ffde3b; 
    padding: 5px; 
    background-color: transparent; 
    border-radius: 5px; 
    text-align: center; 
    margin-top: 32px; 
    margin-left: 30px;
    height:auto;
    width: 400px;
    box-shadow: 0 0 5px #ffde3b;
    flex-direction: column;
    margin-left:280px;
}

.image-preview img {
    width: 300px; 
    max-width: 200px;
    max-height: 250px;
    border-radius: 5px; 
    
}
.Button-container {
    display: flex; 
    align-items: center; 

}
@media(max-width:750px){
    
.container {
    display:flex;
    flex-direction: column;
    margin-bottom: 100px;
    max-width: 300px;
    margin: 30px auto;
    background-color: transparent;
    margin-bottom: 200px;
}
.image-preview {
    border: 2px dashed #ffde3b; 
    padding: 5px; 
    background-color: transparent; 
    border-radius: 5px; 
    text-align: center; 
    margin-top: 32px; 
    margin-left: 30px;
    height:auto;
    width: 200px;
    margin-left: 50px;

}
.image-preview img {
    max-width: 100px;
    max-height: 100px;
}
}

