.header{
    background-image:linear-gradient(rgba(4,9,30,0.5),
    rgba(4,9,30,0.7)),url(/images/profile-bacground.jpg);
    height: 100vh;
 }
 .main{
    color: antiquewhite;
    margin-top: 240px;
    text-align: center;
    margin-bottom: 230px;
 }