html, body {
      margin: 0;
   font-family: Arial, sans-serif;
   padding: 20px;
   background-image:linear-gradient(rgba(4,9,30,0.5),
    rgba(4,9,30,0.7)),url(/images/profileback.jpg);
    min-height: 120vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


}   

      





body {
   display: flex;
   flex-direction: column;
}

.container {
    flex: 1; /* Allow the container to grow and fill available space */
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure it takes the full width */
    max-width: 100%; /* Remove any max-width constraints */
    background: white;
    padding: 10px;
    padding-right:1px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Allow scrolling if content exceeds height */
    margin-bottom: 180px;
    background-color: transparent ;
    border: 5px solid white;
   margin-left: -15px;
   margin-bottom: 300px;
}
.profile-info {
   flex: 2;
   margin-right: 20px;
   color: white;
}

.profile-photo {
   flex: 1;
   text-align: center;
   color: white;
}

.field {
   margin-bottom: 15px;
}

label {
   display: block;
   margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 20px;
   margin-right: 50px;
}

.buttons {
   margin-top: 20px;
}

button {
   padding: 10px 15px;
   margin-right: 10px;
   border: none;
   border-radius: 4px;
   background-color: green;
   color: white;
   cursor: pointer;
}

button:hover {
   background-color: greenyellow;
}

.photo-placeholder {
   width: 200px;
   height: 200px;
   border: 2px dashed #ccc;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto 10px;
}

.contribution-credit {
   margin-top: 20px;
   width: 146px;
   height: 100px;
   padding: 30px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-left: 140px;
}
.profile {
   margin-bottom: 20px;

}